body {
  font-family: helvetica;
  background-color: lightgray;
}

#formName{
  margin-left: 15px;
}

#search {
  width: 50%;
}

h1{
  font-size: 6rem;
  margin-left: 15px;
}

h3 {
  margin-left: 15px;
}

#subheading{
  font-size: 1.5rem;
}

p {
margin: 15px;
margin-left: 15px;
}

#button {
  background-color: black;
  color: white;
  border-radius: 5px;
  border: black solid;
  margin: 7px;

}

#button2 {
  border-radius: 5px;
  margin-left: 5px;
  
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;

}

/* background image */
.app:before {
  content:'';
  background: url('image1.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#resultsTab{
  margin: 25px;
}

