#button3 {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: black solid;
    margin-left: 22px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

#button4 {
    margin-left: 5px;
}
  